{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Newsy Top Stories</title>
    </head>

    <body>

        <h1>Newsy!</h1>
        <hr><hr><hr><hr>

        <ol>
            {% for story in stories %}
            <li>
                <hr>
                    <p>{{ story.id }}</p>
                    {% if story.url %}
                        <h3><a href="{{ story.url }}", target="blank">{{ story.title }}</a></h3>  
                    {% else %}
                        <h3>{{ story.title }}</h3>
                    {% endif %}
                    <p>{{ story.time }}</p>
                    <p>Posted by {{ story.by }}</p>
                <hr>
            </li>
            {% endfor %}
        </ol>


    </body>
</html>