{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Newsy Top Stories</title>
    </head>

    <body>

        <h1>Newsy!</h1>
        <hr><hr><hr><hr>

        <ol>
            {% for news in news_list %}
            <li>
                <hr>
                    <p>{{ news.id }}</p>
                    {% if "url" in news %}
                        <h3><a href="{{ news.url }}", target="blank">{{ news.title }}</a></h3>  
                    {% else %}
                        <h3>{{ news.title }}</h3>
                    {% endif %}
                    <p>{{ news.time }}</p>
                <hr>
            </li>
            {% endfor %}
        </ol>


    </body>
</html>