{% extends "newsyapp/layout.html" %}

{% block title %}
    Newsy! Top Stories
{% endblock %}

{% block body %}

    <h1>Newsy! Stories</h1>
    <hr><hr><hr><hr>

    <ol>
        {% for story in stories %}
        <li>
            <hr>
                <p>{{ story.id }}</p>
                <h3><a href="{% url 'detail' story.id %}">{{ story.title }}</a></h3>  
                {% if story.url %}
                    <p><a href="{{ story.url }}", target="blank">{{ story.url }}</a></p>  
                {% endif %}
                <p>{{ story.time }}</p>
                <p>Posted by {{ story.by }}</p>
            <hr>
        </li>
        {% endfor %}
    </ol>

{% endblock %}