{% extends "newsyapp/layout.html" %}
{% load static %}

{% block title %}
    Newsy! {{ item.title }}
{% endblock %}

{% block heading %}
{% endblock %}

{% block body %}

<h1>{{ item.title }}</h1>
<br><br>

    {% comment %} <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" width="500px" height="500px"></iframe>
    </div> {% endcomment %}

    <p id="comment-time-p" class="text-muted" data-time="{{ item.time }}">

    </p>
    <p>
        {% if item.by %}
            Posted by {{ item.by }}.
        {% else %}
            Anonymous.
        {% endif %}
    </p>

    {% if item.url %}
        <h4>Details: <a href="{{ item.url }}", target="blank">{{ item.url }}</a></h4>
    {% endif %}

    {% if type == "Job" %}
        {% if item.text %}
            <p>{{ item.text | safe}}</p>
        {% endif %}
    {% elif type == "Story" %}
        {% if item.score %}
            <p>Score: {{ item.score }}</p>
        {% endif %}
        <h3>Comments</h3>
        <hr>

        {{ item.descendants|json_script:"descendants-data" }}
        {{ item.id|json_script:"id-data" }}

        <div id="comments-area">

        </div>
    {% else %}

    {% endif %}

    <script src="{% static 'newsyapp/js/item.js' %}"></script>

{% endblock %}