{% extends "newsyapp/layout.html" %}
{% load static %}

{% block title %}
    Newsy! {{ item.title }}
{% endblock %}

{% block heading %}
{% endblock %}

{% block body %}

<h1>{{ item.title }}</h1>
<br><br>

    {% if item.by %}
        Posted by {{ item.by }}. {{ item.time }}
    {% else %}
        Anonymous. {{ item.time }}
    {% endif %}

    {% if item.url %}
        <h4>Details: <a href="{{ item.url }}", target="blank">{{ item.url }}</a></h4>
    {% endif %}

    {% if type == "Job" %}
        {% if item.text %}
            <p>{{ item.text | safe}}</p>
        {% endif %}
    {% elif type == "Story" %}
        {% if item.score %}
            <p>Score: {{ item.score }}</p>
        {% endif %}
        <h3>Comments</h3>
        <hr>

        {{ item.descendants|json_script:"descendants-data" }}
        {{ item.id|json_script:"id-data" }}

        <div id="comments-area">

        </div>
    {% else %}

    {% endif %}

    <script src="{% static 'newsyapp/js/newsy.js' %}"></script> 

{% endblock %}