{% extends "newsyapp/layout.html" %}

{% block title %}
    Newsy! Top Jobs
{% endblock %}

{% block body %}

    <h1>Newsy! Jobs</h1>
    <hr><hr><hr><hr>

    <ol>
        {% for job in jobs %}
        <li>
            <hr>
                <p>{{ job.id }}</p>
                <h3><a href="{% url 'detail' job.id %}">{{ job.title }}</a></h3>
                {% if job.url %}
                    <p><a href="{{ job.url }}", target="blank">{{ job.url }}</a></p>
                {% endif %}
                {% if job.text %}
                    <p>{{ job.text }}</p>
                {% endif %}
                <p>{{ job.time }}</p>
                <p>Posted by {{ job.by }}</p>
            <hr>
        </li>
        {% endfor %}
    </ol>        
{% endblock %}